* { /* Resets everything so different browsers don't affect layout */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .page {
    background-color: #F09A9D;
    width: 100%;
    flex-wrap: wrap;
  }
  .page-title {
    font-size: 20px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 900px) {
  .page {
    background-color: #F09A9D;
    width: 100%;
    flex-wrap: wrap;
  }
  .page-title {
    font-size: 20px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 901px) {
  .page {
    background-color: #F09A9D;
    width: 80%;
    flex-wrap: wrap;
  }
  .page-title {
    font-size: 35px;
  }
}

.page {
  background-color: #B0C4DE;
  color: #000000;
  margin: 0 auto;
}

.menu {
  padding: 5px;
  font-size: 20px;
  background-color: #708090;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.nav-bar {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.nav-bar a {
  text-decoration: none;
  color: #FFFFFF;
}
.nav-bar a:hover {
  color: #FFDAB9;
}
.home, .labs, .portfolio {
  border: 2px solid #708090;
}
.current {
  border: 2px solid #FF8C00;
}


.page-title {
  color: #4169E1;
  text-align: center;
  display: flex;
  padding: 15px;
  border: 10px double #4169E1;
  justify-content: space-around;
}

.content {
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #4169E1;
}

ul {
  margin: 5px 25px;
}
